<script type="text/template" id="page_template">
        <div id=block-toolbar>
            <div id=widget-main-toolbar>
            <ul id=widget-toolbar>
                <li><a href=# id=widget-element-text><img src="http://cdn2.iconfinder.com/data/icons/oxygen/128x128/apps/kwrite.png" width=40 />&nbsp;Widget TEXT</a></li>
                <li><a href=# id=widget-element-html><img src="http://cdn2.iconfinder.com/data/icons/oxygen/128x128/apps/kwrite.png" width=40 />Widget HTML</a></li>

                <li><a href=# id=widget-element-video>Widget VIDEO</a></li>
                <li><a href=# id=widget-element-code>Widget CODE</a></li>
                <li><a href=# id=widget-element-audio>Widget AUDIO</a></li>
                <li><a href=# id=widget-element-gallery>Widget GALLERY</a></li>
                <li><a href=# id=widget-element-columns>Widget 2COLS</a></li>
		<li><a href=# id=widget-element-custom>Widget Custom</a></li>

            </ul>
            </div>
            <div id=notification-label>Notification</div>
        </div>
        <div id=toolbar></div>
        <a href=# id=idd>Switch CSS</a>
        <!-- EDITOR -->
        <div id=website-preview-editor>

             <div id=page>
             HELO EDITOR
             </div>
        </div>
        <!-- @EDITOR -->
</script>


<script type="text/template" id="page-tree">
    <div><a href="#" id=backtoschool ><< back </a></div>
    <div id="page-tree2">
    <div><a href=# class="page-add" >Ajouter une page</a></div>

          <ul id="page-tree-list">
            <li><a href=# class=page>Page1</a></li>
            <li><a href=# class=page>Page2</a></li>
            <li><a href=# class=page>Page3</a>
            <ul id="page-tree-list" style="border:1px solid red;min-height:45px;">
                <li><a href=# class=page>Sub Page1</a></li>
                <li><a href=# class=page>Sub Page1</a></li>
            </ul>
            </li>
            <li><a href=# class=page>Page4</a> <a href=# id="page-page4" class="page-add-sub" >+</a></li>
          </ul>

          <ul>
            <li><a href=# class=page>page45</a></li>
          </ul>
    </div>
</script>

<script type="text/template" id="page-tree">
    <div>
    <ul>
        <li>Liste des pages</li
       </ul>
    </div>
</script>