<script type="text/template" id="news-template">

</script>



<script type="text/template" id="news-panelbar">
               <div><a href="#" id=backtoschool ><< back </a></div>


        <div id="news-list"  >
            <ul id="newsitems" >
              <li>

                  <div class=news-item > A <span >hello</span> A <div style="float:right;" >RIGHT BUTTONS</div></div>

                  </li>
                    <li>  <div class=news-item > A <span >hello</span> A</div>   </li>
              <li>  <div class=news-item > A <span >hello</span> A</div>         </li>
              <li>  <div class=news-item > A <span >hello</span> A</div>         </li>
            </ul>

        </div>
</script>